<mat-accordion>
    <mat-expansion-panel *ngFor = "let users of Users$">
        <mat-expansion-panel-header>
            <mat-panel-title>
               {{users.id}}. <b>&nbsp;Name:&nbsp;&nbsp;</b> {{users.name}} , <b>&nbsp;User name:&nbsp;&nbsp;</b>{{users.username}}
               <mat-panel-description> 
                    <button mat-raised-button color="primary" (click)="add(users.id,users.email)">Create account</button>
                         </mat-panel-description> 
            </mat-panel-title>
                  
        </mat-expansion-panel-header> 
        <b>Email:&nbsp;&nbsp;</b>{{users.email}} , <b>&nbsp;Phone namber:&nbsp;&nbsp;</b>{{users.phone}}  ,<b>&nbsp;Website:&nbsp;&nbsp;</b>{{users.website}}  
    </mat-expansion-panel>
</mat-accordion>
