.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
      }
       /* .likes{
        display: flex;
    justify-content: flex-end;
    float: right;
      }  */