<br>
<button mat-raised-button color="primary" routerLink="/postform">Add new post</button>
<br>
<br>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
        {{post.title}}
            </mat-panel-title>
            <mat-panel-description> 
                    <div class="likes">
                            <button mat-raised-button color="primary" (click)="addlike(post.id,post.like)">LIKE</button> 
                            <button mat-raised-button color="primary" (click) = deletePost(post.id)>Delete</button>
                            <button mat-raised-button color="primary" [routerLink]="'/postform/'+ post.id">Edit</button> 
                             </div>
                <div> &nbsp;&nbsp;LIKES: {{post.like}} </div>  
            </mat-panel-description>
        </mat-expansion-panel-header> 
       
                          
        <h3>body:</h3>{{post.body}} 
    </mat-expansion-panel>
</mat-accordion>