<mat-card>
        <h1>{{btnText}}</h1>
        <form #addtodo="ngForm" (ngSubmit)="onSubmitAddTodo()">
          <div class="example-container">
            <mat-form-field>
             <input matInput [(ngModel)] = "title" name = "title" placeholder="Title"
                               required
                              #todotitle = "ngModel">
              <mat-error *ngIf="!(todotitle.valid || todotitle.pristine)">
                The title of the todo is required
              </mat-error>                        
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [(ngModel)] = "body" name = "body" placeholder="Body"
                                  required
                                 #todoBody = "ngModel">
                 <mat-error *ngIf="!(todoBody.valid || todoBody.pristine)">
                  The body of the todo is required
                 </mat-error>                        
               </mat-form-field>
               <br>
            <div>
               <button mat-raised-button color="primary" [disabled]="!addtodo.form.valid">{{btnText}}</button>
               <button mat-raised-button [routerLink]="'/userTodo'"> Cancel</button>
            </div>
         </div>
        </form>
    </mat-card>