<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
    <mat-nav-list *ngIf = "(authService.user | async)?.uid">
        <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a>
        <a mat-list-item routerLink="/registeredusers" routerLinkActive="active">Registered users</a>
      <!-- <a mat-list-item routerLink="/allposts" routerLinkActive="active">Posts</a> -->
      <!-- <a mat-list-item routerLink="/savepost" routerLinkActive="active">Saved post</a> -->
      <!-- <a mat-list-item routerLink="/classify">Classify</a> -->
      <!-- <a mat-list-item [routerLink]="['/temperatures','London']">Tempreratures</a> -->
    </mat-nav-list>
      <!-- <a mat-list-item routerLink="/alltodos" routerLinkActive="active">Todos</a> -->
       <a mat-list-item routerLink="/userTodo">Todos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
      <div>
        <!-- <a class = "whitelink" routerLink="/signup" *ngIf = "!(authService.user | async)?.uid" >SignUp</a> <br> -->
        <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.user | async)?.uid" >Login</a>         
        <a class = "whitelink" *ngIf  = "(authService.user | async)?.uid" (click) = "authService.Logout()"> Logout </a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
