<!-- <mat-accordion>
    <mat-expansion-panel *ngFor = "let todo of Todos$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{todo.id}}. {{todo.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
       completed: {{todo.completed}}
    </mat-expansion-panel>
</mat-accordion> -->

<mat-selection-list #todos>
    <div *ngFor = "let todo of Todos$">

    <mat-list-option *ngIf="todo.completed else other" selected="true">
            <div> {{todo.id}}. {{todo.title}} 
         completed: {{todo.completed}}
                <button mat-raised-button color="primary" (click)="add(todo.title,todo.id,todo.completed)">SAVE</button>
               
            </div>
       </mat-list-option>

       <ng-template #other>
            <mat-list-option >
                    <div> {{todo.id}}. {{todo.title}} 
                 completed: {{todo.completed}}
                        <button mat-raised-button color="primary" (click)="add(todo.title,todo.id,todo.completed)">SAVE</button>
                    </div>
               </mat-list-option>
        </ng-template>

       </div>
    </mat-selection-list>

       <!-- completed: {{todo.completed}} -->