<br>
&nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" routerLink="/todoform">Add a new todo</button>
<br>
<br>
<!-- <mat-accordion>
        <mat-expansion-panel *ngFor = "let todo of Todos$ | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
            {{todo.title}}
                </mat-panel-title>
                <mat-panel-description> 
                        <div class="likes">
                                <button mat-raised-button color="primary" (click)="DONE(post.id,post.like)">DONE</button>
                              </div>
                </mat-panel-description>
            </mat-expansion-panel-header>                
            <h3>body:</h3>{{todo.body}} 
        </mat-expansion-panel>
    </mat-accordion> --> 
