<div *ngIf = "!(Users$ | async)">Loading...</div>
 <mat-selection-list #users>
            <mat-list-option *ngFor = "let users of Users$ | async">
                    <div>  <b>User id:</b> {{users.usersId}}.
                            <b>User Email:</b> {{users.usersEmail}} 
                    </div>
                    <!-- <button mat-raised-button color="primary" (click) = deleteusers(users.id)>Delete</button> -->
               </mat-list-option>
            </mat-selection-list>


    