<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of Posts$ ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{post.id}}. {{post.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div id="save_button">
        <button mat-raised-button color="primary" (click)="add(post.title,post.body,post.id)">SAVE</button>
        </div>
        <h4 *ngIf = "post.id == postid">{{text}}</h4> 
        <h2>body:</h2>{{post.body}} 
        <br>
        <br>
        <h2>comments:</h2>
        <div *ngFor="let com of comments$ ">
           <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
        </div>  
    </mat-expansion-panel>
</mat-accordion>
