<mat-selection-list #todos>
      <div *ngFor = "let todo of todos$ | async">
  
      <mat-list-option *ngIf="todo.completed else other" selected="true" >
              <div (click) = updatetodocheckbox(todo.id,todo.completed)> {{todo.title}} 
           <!-- completed: {{todo.completed}}   -->
           <button mat-raised-button color="primary" (click) = deletetodo(todo.id)>Delete</button>
              </div>
         </mat-list-option>
  
         <ng-template #other >
              <mat-list-option >
                      <div (click) = updatetodocheckbox(todo.id,todo.completed)> {{todo.title}} 
                   <!-- completed: {{todo.completed}} -->
                   <button mat-raised-button color="primary" (click) = deletetodo(todo.id)>Delete</button>
                      </div>
                 </mat-list-option>
          </ng-template>
  
         </div>
      </mat-selection-list>